name: MLflow CI Training

on:
  push:
    branches: ["main"]

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install mlflow scikit-learn pandas numpy

      - name: Clear MLflow inherited run
        run: |
          unset MLFLOW_RUN_ID
          unset MLFLOW_TRACKING_URI

      - name: Run MLflow Project
        env:
          MLFLOW_RUN_ID: ""
        run: |
          mlflow run MLProject --env-manager=local

      - name: Upload MLflow artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-artifacts
          path: MLProject/mlruns

      - name: Login to Docker Hub
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
            -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker image with MLflow
        run: |
          mlflow models build-docker \
            -m MLProject/mlruns \
            -n sabrinayusrinaa/smsml-sabrinayusrina

      - name: Push Docker image
        run: |
          docker push sabrinayusrinaa/smsml-sabrinayusrina
