name: MLflow CI Training

on:
  push:
    branches: ["main"]

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install mlflow scikit-learn pandas numpy

      - name: Run MLflow Project
        run: mlflow run MLProject

      - name: Ensure mlruns directory exists
        run: |
          if [ ! -d "mlruns" ]; then
            echo "mlruns directory not found, creating empty directory"
            mkdir mlruns
          fi

      - name: Upload MLflow artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-artifacts
          path: mlruns
